$page_background_color: white;
$page_padding: 0.5rem;
$page_shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

$list_padding: 1rem;

$table_padding: 1rem;
$table_content_padding: 0.25rem;

$divider_color: #eeeeee;
$divider_height: 0.125rem;

$h_size: 36px 24px 21px 18px 16px 14px;
$h_padding: 1rem;

$text_margin: 0.75rem;
$text_padding: 1rem;
$text_color: #333333;
$text_line_height: 1.25rem;

$label_background_color: #ebebeb;
$label_padding: 0.15rem 0.75rem;
$label_border_radius: 0.25rem;
