/* Base */
.page-wrapper {
  background-color: white;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
}

hr {
  background-color: #eeeeee;
  height: 2px;
  border: none;
}

code {
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: #f8f8fa;
}

code + code {
  margin-left: 0.5rem;
}

.page {
  padding: 0.25rem 0;
}

.page-wrapper + .page-wrapper {
  margin-top: 1rem;
}

.lrc {
  display: flex;
  align-items: center;
}

.lrc .l {
  flex: auto;
  text-align: left;
}

.lrc .r {
  flex: auto;
  text-align: right;
}

/* Custom */
#preview h1 {
  color: white;
  padding: 1rem;
  background-color: var(--pry-color);
}

#preview h3 {
  color: white;
  width: 20%;
  background-color: var(--sub-color);
  padding: 0.5rem 2rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

#preview h4 {
  padding: 0 1rem;
  color: var(--thr-color);
}

#preview p {
  padding: 0 1rem;
  color: #666;
}
